/*Estilos predeterminados React*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
  background: url('https://imgs.search.brave.com/ckrj6jwQwG8yGsFhq2K5dGJjA9UQDTUqSdsCP0FMWcI/rs:fit:416:225:1/g:ce/aHR0cHM6Ly90c2U0/LmV4cGxpY2l0LmJp/bmcubmV0L3RoP2lk/PU9JUC5hR0oyZ2Fm/VHgwVV9WTnVHZm03/SWVnQUFBQSZwaWQ9/QXBp');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Mis estilos*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: yellow;
}

li {
  list-style: none;
}

input {
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 0 5px;
}

select {
  border-radius: 30px;
  border: none;
  outline: none;
}

/*Header*/
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(136, 50, 11);
}

.logo {
  width: 150px;
  height: 150px;
  background: url('../img/logoCafeteria.png') no-repeat center center/cover;
  cursor: pointer;
}

.menu {
  margin-top: 3px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

/*Jumbotron*/
.jumbotron{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards{
  background-color: rgba(136, 51, 11, 0.938);
}

.contenedorInfoCard{
  margin-top: 15px;
  width: 80%;
  height: 250px; 
}

#infoCard {
  display: flex;
  height: 99%;
}

#infoCard_info {
  width: 80%;
  border: 1px solid white;
  margin: 2px;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#infoCard_Menu {
  cursor: pointer;
  width: 20%;
  border: 1px solid white;
  background-color: rgba(51, 51, 51, 0.849);
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#infoCard_Menu:hover {
  color: yellow;
  background-color: rgba(41, 41, 41, 0.911);
}

.reservacion{
  margin-top: 15px;
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
}

#cartaReservacion {
  border: 1px solid white;
  height: 98%;
  width: 50%;
  margin-left: 2px;
}

#tituloReservacion {
  text-align: center;
  width: 100%;
}

#parrafoReservacion {
  padding: 5px;
}

#reservacionFormulario {
  margin: 0 2px 0 4px;
  border: 1px solid white;
  width: 50%;
  height: 98%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#datos {
  display: flex;
  flex-direction: column;
}

#fechaYhora {
  display: flex;
  flex-direction: column;
}

#enviar {
  margin-top: 20px;
}

/*Reservaciones*/
.reservaciones{
  width: 80%;
  height: 400px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

/*Tarjeta Menu*/
.jumbotronMenu{
  margin-top: 15px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cartaMenu{
  height: auto;
  width: 25%;
  border: 1px solid white;
  text-align: justify;
  background-color:  rgba(136, 51, 11, 0.938);
  padding: 5px;
}

.titulosMenu{
  text-align: center;
  width: 100%;
  text-decoration: underline;
}

.opcMenu{
  margin-top: 5px;
}

/*Footer*/
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(136, 50, 11);
  color: rgb(226, 226, 226);
}